.Rproj.user
packrat/lib*/
.RData
analysis/data/raw_data
analysis/data/derived_data
.drake
data
.Rhistory
rosm.cache
log/*
analysis/paper/submission/3/latex-source-files/elsarticle-template.synctex.gz
analysis/paper/submission/3/latex-source-files/__latexindent_temp.tex
analysis/paper/submission/3/latex-source-files/elsarticle-template.synctex.gz
*.doc#
.drake_history
