#!/bin/sh
#SBATCH --job-name={{ job_name }}
#SBATCH --partition=threadripper
#SBATCH --output={{ log_file | /dev/null }} # you can add .%a for array index
#SBATCH --error={{ log_file | /dev/null }}
#SBATCH --cpus-per-task={{ n_cpus }}
#SBATCH --mem={{ memory }}
#SBATCH --array=1-{{ n_jobs }}

cd ~/papers/2019-feature-selection/
spack load gcc@7.3.0
spack load /5664dlp # gdal

# share pandoc
export PATH=/opt/pandoc/:$PATH
#export R_HOME=/opt/R/3.5.2/lib64/R

CMQ_AUTH={{ auth }} /opt/R/3.5.2/bin/R --no-save --no-restore -e 'clustermq:::worker("{{ master }}")'

