#!/bin/sh
#SBATCH --job-name={{ job_name }}
#SBATCH --partition={{ partition }}
#SBATCH --output={{ log_file | /dev/null }} # you can add .%a for array index
#SBATCH --error={{ log_file | /dev/null }}
#SBATCH --cpus-per-task={{ n_cpus }}
#SBATCH --mem={{ memory }}
#SBATCH --array=1-{{ n_jobs }}

source ~/.bashrc
cd /home/patrick/papers/2019-feature-selection/
module load r-4.0.4-gcc-9.2.0-udi7a3a

CMQ_AUTH={{ auth }} R --no-save --no-restore -e 'clustermq:::worker("{{ master }}")'
