@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

body {
  font-family: "Roboto", sans;
  font-weight: 500;
}

code {
  font-family: "Roboto Mono", monospace;
}
