@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

body {
  font-family: "Roboto", sans;
  font-weight: 500;
}

code {
  font-family: "Roboto Mono", monospace;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans;
}

pre code {
  font-size: 13px;
}

.navbar {
    font-family: Roboto, sans-serif;
}
